<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item-group>
    <ion-item>
      <ion-label align="center">Loggin Page</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Username :</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password :</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-item-group>

  <ion-button expand="full">OK</ion-button>
  <ion-button expand="full">BACK</ion-button>


</ion-content>
