<ion-header>
  <ion-toolbar>
    <ion-title>login page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card>
    <ion-card-header> -->
      <!-- <ion-card-title align="center">Login</ion-card-title> -->
    <!-- </ion-card-header> -->

    <ion-card-content>
      <ion-item>
        <ion-label>Username :</ion-label>
        <ion-input type="text" maxlength="8" [(ngModel)]="getuser"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Password :</ion-label>
        <ion-input type="password" maxlength="8" [(ngModel)]="getpassword"></ion-input>
      </ion-item>

      <ion-item *ngFor="let t of datas">
        <ion-icon name="{{t.icon}}"></ion-icon>
        <ion-label> {{t.title}}</ion-label>
        <ion-checkbox [(ngModel)]="t.checked" value="{{t.value}}"></ion-checkbox>
      </ion-item>

      <ion-button expand="full" (click)="openTost()">OK</ion-button>
      <ion-button expand="full" color="light">BACK</ion-button>
    </ion-card-content>
  <!-- </ion-card> -->
</ion-content>